langchain_community
sentence-transformers==3.2.1
transformers==4.41.2
langchain~=0.3.13
peft
gradio==5.9.1
langchain-community~=0.3.13
#torch~=2.4.1+cu124
sentencepiece~=0.1.99
numpy~=1.26.4
requests~=2.32.3
pypdf
docx2txt
pathlib

websockets
pillow
pandas